<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Units</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">tests/Features</directory>
        </testsuite>
    </testsuites>
</phpunit>
